<div class='content-right col-lg-7  col-md-6  col-sm-6  col-xs-10 '>

	<h3><%= @story.title %></h3>
	<h4><%= @story.name %></h4>
	<img src="<%= @story.story_image %>" alt="Story_picture">
	<p><%= @story.narrative %></p>
	<p><%= @story.email %></p>
	

	<table border=1px >
		<thead>
			<th>Neighborhood</th>
			<th>hispanic</th>
			<th>asian</th>
			<th>white</th>
			<th>black</th>
		</thead>
		<tbody>
			<tr>
					<!-- Declaire current_neighborhood -->
					<% current_neighborhood = 0 %>

					<!-- Declaire zip_code -->
					<% zip_code = "" %>

					<!-- Set data_array equal to all of the neighborhood info stored in nyc_ope_data's demographics api. It comes in the form of an array. -->
					<% data_array = (@nyc_data["data"]) %>

					<!-- Cycle through every neighborhood in the data_array -->
					<% data_array.each do |array| %>

						<!-- If the zip code we're looking for is included somewhere in that array... -->
						<% if array.include?("10001") %>

							<!-- ...set neighborhood to the array index of that zip code -->
							<% zip_code = array.index("10001") %>

							<!-- ...and set current_neighborhood to the index of the array this zipcode is located within. The minus 2 is to account for some odd indexing inside the API. -->
							<% current_neighborhood = array[0] - 2 %>
						<% end %>
					<% end %>

				<td><%= (@nyc_data["data"][current_neighborhood][zip_code]) %></td>

				<td>% <%= (@nyc_data["data"][current_neighborhood][21]).to_f * 100 %></td>
				<td>% <%= (@nyc_data["data"][current_neighborhood][25]).to_f * 100 %></td>
				<td>% <%= (@nyc_data["data"][current_neighborhood][27]).to_f * 100 %></td>
				<td>% <%= (@nyc_data["data"][current_neighborhood][29]).to_f * 100 %></td>
			</tr>
		</tbody>
	</table> 

</div>
