<div class='content-right col-lg-7  col-md-6  col-sm-6  col-xs-10 '>

	<h3><%= @story.title %></h3>
	<h4><%= @story.name %></h4>
	<img src="<%= @story.story_image %>" alt="Story_picture">
	<p><%= @story.narrative %></p>
	<p><%= @story.email %></p>
	
	<h3>Learn about this hood</h3>

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<th>zipcode</th>
			<th>hispanic</th>
			<th>asian</th>
			<th>white</th>
			<th>black</th>
		</thead>
		<tbody>
			<tr>
					<!-- Declaire current_neighborhood -->
					<% current_neighborhood = 0 %>

					<!-- Declaire zip_code -->
					<% zipcode = 0 %>

					<!-- Set data_array equal to all of the neighborhood info stored in nyc_ope_data's demographics api. It comes in the form of an array. -->
					<% data_array = (@nyc_data["data"]) %>

					<!-- Cycle through every neighborhood in the data_array -->
					<% data_array.each do |array| %>

						<!-- If the story's zipcode (submitted by the user) is included somewhere in that array... -->
						<% if array.include?(@story.zipcode.to_s) %>

							<!-- ...set zipcode to the array index of that zipcode. (We add to_s to @story.zipcode because the data_array storys all of it's data as strings, even zipcodes). -->
							<% zipcode = array.index(@story.zipcode.to_s) %>

							<!-- ...and set current_neighborhood to the index of the array this zipcode is located within. The minus 2 is to account for some odd indexing inside the API. -->
							<% current_neighborhood = array[0] - 2 %>
						<% end %>
					<% end %>

				<td><%= (@nyc_data["data"][current_neighborhood][zipcode]) %></td>

				<td>% <%= (@nyc_data["data"][current_neighborhood][21]).to_f * 100 %></td>
				<td>% <%= (@nyc_data["data"][current_neighborhood][25]).to_f * 100 %></td>
				<td>% <%= (@nyc_data["data"][current_neighborhood][27]).to_f * 100 %></td>
				<td>% <%= (@nyc_data["data"][current_neighborhood][29]).to_f * 100 %></td>
			</tr>
		</tbody>
	</table> 

</div>
