<div class='content-right col-lg-7  col-md-6  col-sm-6  col-xs-10 '>

<h3><%= @story.title %></h3>
<h4><%= @story.name %></h4>
<img src="<%= @story.story_image %>" alt="Story_picture">
<p><%= @story.narrative %></p>
<p><%= @story.email %></p>
	
	</div>