<!DOCTYPE html>
<html>
<head>
  <title>THE VISITOR</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


</head>
<body>
 	
	<!-- OPEN sign_in_sign_out navbar DIV-->
	<div class="sign_in_sign_out navbar navbar-inverse navbar-static-top">

		<div class="navbar-brand ">

		    <!-- I don't understand exactly what the top of this if statement is doing. -->
		    <% if user_signed_in?  %>
				<%= link_to "logout", destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "sign-in", new_user_session_path, {:class => "btn btn-default"} %> 
				<%= link_to "sign-up", new_user_registration_path, {:class => "btn btn-default"} %>
		    <% end %>
	    </div>

    </div>
    <!-- CLOSE sign_in_sign_out navbar DIV -->
    
	<div class="container">
		
		<header class="col-xs-4 col-sm-4 col-md-4 col-lg-4 header background_solid_darker rounded_border shadow">
			<a href="/">
				<div class="logo col-lg offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12 clearfix"></div></a>
				<h3 class="slogan light_title_font">a blog about town</h3>
			
			<nav>
				<ul>
					<li> <a href="/about">About</a></li>
					<li> <a href="/stories">Stories</a> </li>
					<li> <a href="/stories/new">Share Your Story</a> </li>
					<li> <a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</header>
		

		<p class="notice hidden"><%= notice %></p>
	    <p class="alert hidden"><%= alert %></p>
	    
		<%= yield %>


	</div>

</body>
</html>
